<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShareIt - Easy file sharing</title>
    <link rel="stylesheet" href="/css/downloadPage.css" />
  </head>
  <body>
    <img src="/img/logo.png" alt="Inshare logo" class="logo" />

    <section class="download">
      <img
        class="download__icon"
        src="/img/download-sd.svg"
        alt="inshare-download"
      />
      <h2>Your file is ready to download</h2>
      <p>Below is the shareable link</p>
      <div class="download-link"><%= downloadLink %></div>
    </section>
  </body>
</html>
